<a href="https://colab.research.google.com/github/boreumlee/titanic/blob/main/%ED%83%80%EC%9D%B4%ED%83%80%EB%8B%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 타이타닉 데이터 가져오기
# seaborn에 타이타닉 데이터가 있음
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

타이타닉 컬럼데이터


* Survived - 생존 여부 (0 = 사망, 1 = 생존)
* Pclass - 티켓 클래스 (1 = 1등석, 2 = 2등석, 3 = 3등석)
* Sex - 성별
* Age - 나이
* SibSp - 함께 탑승한 자녀 / 배우자 의 수
* Parch - 함께 탑승한 부모님 / 아이들 의 수
* Ticket - 티켓 번호
* Fare - 탑승 요금
* Cabin - 수하물 번호
* Embarked - 선착장 (C = Cherbourg, Q = Queenstown, S = Southampton)



seaborn에는 타이타닉 말고도 다양한 데이터셋이 존재함


```
sns.get_dataset_names()
# 결과
['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']
```

In [ ]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
titanic.isna().sum()

survived      0
pclass        0
sex           0
age           0
sibsp         0
parch         0
fare          0
embarked_Q    0
embarked_S    0
dtype: int64

In [ ]:
# 데이터셋은 survived, pcalss, sex, age sibsp등의 컬럼을 가지고 있음
# 전처리를 통해서 결측치를 처리하고, 범주형 변수를 수치형으로 변환해야함

# 결측치 처리(age와 embarked의 결측치는 평균/최빈값 으로 대체)
# titanic['age'].fillna(titanic['age'].mean(), inplace=True)
# titanic['embarked'].fillna(titanic['embarked'].mode()[0], inplace=True)

# mode() 메서드는 대상 행/열의 최빈값을 구하는 메서드
# 최빈값이 여러개일 경우 모두 표시함

titanic.fillna({'age': titanic['age'].mean()}, inplace=True)
titanic.fillna({'embarked': titanic['embarked'].mode()[0]}, inplace=True)

In [ ]:
titanic.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# 범주형 변수 처리 (sex 와 embarked는 범주형 변수임)

titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
titanic = pd.get_dummies(titanic, columns=['embarked'], drop_first=True) # embarked 변수를 더미 변수로 변환

In [ ]:
titanic.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
embarked_Q       0
embarked_S       0
dtype: int64

In [ ]:
# 이제 필요한 컬럼만 골라서 사용
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked_Q', 'embarked_S']]

In [ ]:
titanic.head()

   survived  pclass  sex   age  sibsp  parch     fare  embarked_Q  embarked_S
0         0       3    0  22.0      1      0   7.2500       False        True
1         1       1    1  38.0      1      0  71.2833       False       False
2         1       3    1  26.0      0      0   7.9250       False        True
3         1       1    1  35.0      1      0  53.1000       False        True
4         0       3    0  35.0      0      0   8.0500       False        True

In [ ]:
# 타겟과 피쳐 분리
X = titanic.drop('survived', axis=1)
y = titanic['survived']

In [ ]:
X

     pclass  sex        age  sibsp  parch     fare  embarked_Q  embarked_S
0         3    0  22.000000      1      0   7.2500       False        True
1         1    1  38.000000      1      0  71.2833       False       False
2         3    1  26.000000      0      0   7.9250       False        True
3         1    1  35.000000      1      0  53.1000       False        True
4         3    0  35.000000      0      0   8.0500       False        True
..      ...  ...        ...    ...    ...      ...         ...         ...
886       2    0  27.000000      0      0  13.0000       False        True
887       1    1  19.000000      0      0  30.0000       False        True
888       3    1  29.699118      1      2  23.4500       False        True
889       1    0  26.000000      0      0  30.0000       False       False
890       3    0  32.000000      0      0   7.7500        True       False

[891 rows x 8 columns]

In [ ]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [ ]:
# 이제 데이터 분할을 해보자
# (Train/Test Split) (80/20)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train, X_test, y_train, y_test

(     pclass  sex        age  sibsp  parch      fare  embarked_Q  embarked_S
 331       1    0  45.500000      0      0   28.5000       False        True
 733       2    0  23.000000      0      0   13.0000       False        True
 382       3    0  32.000000      0      0    7.9250       False        True
 704       3    0  26.000000      1      0    7.8542       False        True
 813       3    1   6.000000      4      2   31.2750       False        True
 ..      ...  ...        ...    ...    ...       ...         ...         ...
 106       3    1  21.000000      0      0    7.6500       False        True
 270       1    0  29.699118      0      0   31.0000       False        True
 860       3    0  41.000000      2      0   14.1083       False        True
 435       1    1  14.000000      1      2  120.0000       False        True
 102       1    0  21.000000      0      1   77.2875       False        True

 [712 rows x 8 columns],
      pclass  sex        age  sibsp  parch     fare  embarked_Q  embarked_S
 709       3    0  29.699118      1      1  15.2458       False       False
 439       2    0  31.000000      0      0  10.5000       False        True
 840       3    0  20.000000      0      0   7.9250       False        True
 720       2    1   6.000000      0      1  33.0000       False        True
 39        3    1  14.000000      1      0  11.2417       False       False
 ..      ...  ...        ...    ...    ...      ...         ...         ...
 433       3    0  17.000000      0      0   7.1250       False        True
 773       3    0  29.699118      0      0   7.2250       False       False
 25        3    1  38.000000      1      5  31.3875       False        True
 84        2    1  17.000000      0      0  10.5000       False        True
 10        3    1   4.000000      1      1  16.7000       False        True

 [179 rows x 8 columns],
 331    0
 733    0
 382    0
 704    0
 813    0
       ..
 106    1
 270    0
 860    0
 435    1
 102    0
 Name: survived, Length: 712, dtype: int64,
 709    1
 439    0
 840    0
 720    1
 39     1
       ..
 433    0
 773    0
 25     1
 84     1
 10     1
 Name: survived, Length: 179, dtype: int64)

## 데이터 스케일링
### 모델 학습 전 피처의 스케일을 맞추는 것이 중요

1.   **왜 데이터 스케일링이 필요한가?**

  많은 머신러닝 모델, 특히 **선형 모델**(예: 로지스틱 회귀, 선형 회귀), **신경망 모델**(예: 텐서플로우로 구축한 딥러닝 모델) 에서는 입력 데이터(피처)의 **스케일(크기차이)**가 중요.
  
  그 이유는 모델이 데이터의 크기에 따라 성능이 달라질 수 있기 때문.

  - 예를 들어, **나이(age)**와 **요금(fare)** 같은 피처들이 있다고 할때, 나이는 보통 0~100 사이의 값을 가지는데, 요금은 수백, 수천 심지어 수만 원에 이를 수 있음. 만약 스케일을 맞추기 않으면, 모델이 요금 같은 큰 숫자에 더 큰 가중치를 두고, 나이에 대해서는 상대적으로 덜 중요한 특성으로 간주할 수 있음.

  - **스케일 차이가 큰 피처들**이 존재하면, 학습 과정에서 모델이 특정 피처에 대해 과도하게 또는 부족하게 반응 할 수 있음. 그 결과, **모델 성능**이 떨어지거나 학습이 제대로 되지 않을 수 있음.
2.   **스케일링이랑 무엇인가?**

  **스케일링**은 피처들의 값이 서로 다른 범위에 있을 때, 그 범위를 비슷한 범위로 변환하는 작업을 말함. 보통 두 가지 방법이 많이 사용됨

  **(1) 표준화(Standardization)**

    표준화는 각 피처를 **평균 0, 표준편차 1**로 변환하는 방법임. 즉, 각 피처의 값에서 평균을 빼고, 표준편차로 나누는 것.
    데이터를 0을 중심으로, 분포가 1인 표준 정규 분포하는것.
    이상치의 영향을 덜 받음.

    ex)
      - 데이터가 정규 분포(가우시안 분포)를 따를 때
      - 선형 모델(로지스틱 회귀, 선형 회귀) 또는 PCA(주성분 분석)를 사용할 때
      - 특성의 단위(scale)가 다를 때 (예: 키(cm)와 몸무게(kg)처럼 크기가 다르면 스케일링 필요)

    사용 사례)
      - PCA를 적용하여 차원 축소할 때
      - 선형 회귀, 로지스틱 회귀 등 가중치(weight)를 기반으로 하는 모델
      - K-Means 같은 클러스터링 알고리즘
    
    ```
    import numpy as np
    from sklearn.preprocessing import StandardScaler

    # 예시 데이터
    data = np.array([[1, 2], [3, 4], [5, 6]])

    # StandardScaler 객체 생성
    scaler = StandardScaler()

    # 표준화
    scaled_data = scaler.fit_transform(data)

    print(scaled_data)
    ---
    [[-1.22474487 -1.22474487]
    [ 0.          0.        ]
    [ 1.22474487  1.22474487]]
    ```

  **(2) 정규화(Normalization)**
  
    정규화는 각 피처를 0과 1사이로 변환하는 방법.
    최소값과 최대값을 기준으로 비율을 계산.

    ex)
      - 값의 범위가 일정하지 않은 경우
      - 데이터가 특정 범위(예: [0, 1] 또는 [-1, 1])에 있어야 하는 경우
       (예: 신경망 모델에서는 입력값이 0~1 사이에 있으면 학습이 더 안정적)

    사용 사례)
      - 이미지 픽셀 값을 [0,1]로 변환
      - 신경망(NN) 모델 학습 데이터 전처리
      - KNN, SVM 등 거리 기반 알고리즘 사용 시
    
    ```
    import numpy as np
    from sklearn.preprocessing import MinMaxScaler

    data = np.array([[1, 2], [3, 4], [5, 6]])
    
    # MinMaxScaler 객체 생성
    scaler = MinMaxScaler()
    
    #정규화
    scaled_data = scaler.fit_transform(data)
    
    print(scaled_data)
    ---
    [[0.  0. ]
    [0.5 0.5]
    [1.  1. ]]
    ```


3.   **스케일링의 이점**

  - 모델 성능 개선: 스케일링을 하면 모델이 모든 피처를 동일한 중요도로 다룰 수 있음. 특히, 신경망에서는 가중치 업데이트가 균형 있게 이루어지기 떄문에 훈련이 더 빨라지고, 성능도 좋아질 수 있음.

  - 학습 안정성 향상: 피처들이 비슷한 범위로 변환되면, 경사하강법(gradient descent) 같은 최적화 알고리즘이 더 안정적으로 작동함. 이로 인해 모델이 더 빠르고 안정적으로 학습할 수 있음.

  - 모델 최적화: 특히 **신경망**이나 **K-최근접 이웃(k-nn)**모델 같은 경우, 거리 기반 계산이 많기 때문에, 피처들의 스케일이 다르면 결과가 왜곡될 수 있음. 이때 스케일링을 통해 모델의 성능을 향상시킬 수 있음.

4.   **스케일링을 하지 않으면?**

  스케일링을 하지 않으면, 모델이 **스케일이 큰 피처**에 더 많은 가중치를 두고 학습할 수 있음. 예를 들어, `fare`와 같은 큰 숫자를 가지는 피처가 모델의 예측에 더 영향을 미칠 수 있고, `age` 같은 작은 숫자 피처는 상대적으로 무시될 가능 성이 있음.

  또한, 신경망에서 학습 속도가 느려지거나 수렴하지 않는 문제가 발생할 수 있음.

----

따라서, 스케일링을 통해 피처들이 동일한 범위로 맞춰지면, 모델이 더 **효율적으로, 빠르게, 정확하게** 학습할 수 있음.
특히 **신경망**에서는 학습 성능에 아주 중요한 영향을 미친다고 할 수 있음.

In [ ]:
# 데이터 스케일링
# 모델 학습 전에 피처의 스케일을 맞추는 것이 중요 StandardScaler를 사용해서 피처를 표준화

# 스케일러 객체 생성
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## `fit_transform()` vs `transform()` 차이
### `fit_transform()`

```
X_train = scaler.fit_transform(X_train)
```

- `fit()`: `X_train` 데이터를 사용해 **평균(mean)**과 **표준편차(std)**를 계산
- `transform()`: 계산된 평균과 표준편차를 사용해 `X_train`을 표준화


즉, X_train에서만 평균과 표준편차를 계산하고 적용

### `transform()`

```
X_test = scaler.transform(X_test)
```

- `X_train`에서 구한 **평균과 표준편차를 그대로 사용**해서 `X_test`를 변환


즉, 테스트 데이터는 새로운 평균과 표준편차를 계산하면 안 되고, 학습 데이터(`X_train`)에서 구한 값으로 변환


### 만약 `X_test`에도 `fit_transform()`을 하면?

```
X_test = scaler.fit_transform(X_test)  # ❌ 이렇게 하면 안 됨!

```

이렇게 하면 **테스트 데이터의 평균과 표준편차를 따로 계산해서 변환**하기 때문에
**훈련 데이터와 테스트 데이터의 스케일이 다르게 변환될 수 있음**


그럼 모델이 일반화되지 못하고 과적합(overfitting)될 가능성이 커짐

## TensorFlow 모델 구축

### 1️⃣ `tf.keras.Sequential([...])` 사용

``` python
model = tf.keras.Sequential([...])

```

- `Sequential`은 **"순차적인"**모델을 만들 때 사용
- 즉, 레이어(layer)를 한 줄로 쌓아 올리는 방식
- **입력층 -> 중간층 -> 출력층** 이런식으로 순차적으로 진행될 때 적합
- 복잡한 네트워크 구조(CNN, RNN등)는 `Sequentail`보다는 `Functional API`를 쓰기도 함

### 2️⃣ layer의 Dense

``` python
tf.keras.layers.Dense(16, activation='relu', input_shape=(X_train.shape[1],))
tf.keras.layers.Dense(8, activation='relu')
tf.keras.layers.Dense(1, activation='sigmoid')

```

- `Dense()`는 **완전 연결층(Fully Connected Layer, FC Layer)**을 의미
- 각 뉴련이 **이전 층의 모든 뉴런과 연결**되어 있음
- 여기서 중요한 건 **뉴런 갯수와 활성화 함수(activation function)**임

### 🔹 (1) 입력층

```python
tf.keras.layers.Dense(16, activation='relu', input_shape=(X_train.shape[1],))

```

- 뉴런 갯수: 16개 (적절한 피처 수를 고려한 적당한 크기)
- 활성화 함수: ReLU (`relu`)
  - `ReLU` 는 음수를 0으로 바꾸고 양수는 그대로 유지해서 **기울기 소실 문제**를 방지
- `input_shape=(X_train.shape[1],)`:
  - 입력 데이터의 **특성(feature) 갯수**만큼 입력을 받음
  - 예를 들어, `X_train.shape[1] == 9`라면 입력 뉴런이 9개라는 뜻

---
### 🔹 (2) 중간층(Hidden Layer)

```python
tf.keras.layers.Dense(8, activation='relu')

```

- 뉴런 갯수: 8개 (앞 층보다 줄여서 압축된 표현을 학습)
- 활성화 함수: ReLU (`relu`)
- 중간층을 추가하는 이유?
  - 데이터의 복잡한 패턴을 학습하기 위해 사용
  - 하나의 `Dense()`층만 있으면 너무 단순한 모델이 될 수 있음
  - 층을 늘리면서 학습할 수 있는 표현력이 증가

---
### 🔹 (3) 출력층(Output Layer)

```python
tf.keras.layers.Dense(1, activation='sigmoid')

```

- 뉴런 갯수: 1개 (이진 분류이기 때문에 0 또는 1을 출력해야 함)
- 활성화 함수: Sigmoid (`sigmoid`)
  - `sigmoid`는 **출력값을 0~1 사이로 변환**하여 확률처럼 사용 가능
  - 예: `0.9` -> 90% 확률로 생존, `0.2` -> 20% 확률로 생존
  - `sigmoid`를 쓰면 `0.5`기준으로 `0`(사망)/`1`(생존)으로 분류할 수 있음

---

### 3️⃣ `model.compile()`이란

``` python
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

```

이 단계는 **모델을 학습할 준비**를 하는 과정

세 가지 중요한 요소가 있음.


### 🔹 (1) 옵티마이저(`optimizer='adam'`)

- Adam(Adaptive Moment Estimation) 사용
- 학습률을 자동으로 조절하여 효율적으로 최적화해줌
- 대부분의 경우 `adam`이 기본적으로 좋은 성능을 보임

👉 **가중치를 업데이트하는 방식**을 결정


---

### 🔹 (2) 손실 함수 (`loss='binary_crossentropy'`)

- `binary_crossentropy`: 이진 분류(Binary Classification)에 최적화된 손실 함수
- 수식적으로 `-y log(p) - (1 - y) log(1 - p)`형태로, 정답 확률이 높을수록 손실이 작아짐

👉 **모델이 얼마나 틀렸는지 평가**하는 기준


---


### 🔹 (3) 평가 지표 (`metrics=['accuracy']`)

- `accuracy`: **정확도(Accuracy)**를 평가 지표로 사용
- 예측값(`0` 또는 `1`)과 실제값이 얼마나 일치하는지 측정

👉 **모델이 얼마나 잘 학습하고 있는지 판단**하는 기준


---

### 4️⃣ `model.fil()`에서 `epochs=50, batch_size=16`설정

``` python
model.fit(X_train, y_train, epochs=50, batch_size=16, validation_data=(X_test, y_test))
```

### 🔹 (1) `epochs=50`

- `epoch`는 **전체 데이터를 몇 번 반복해서 학습할지**를 정하는 것
- `epochs=50`이면 **모든 훈련 데이터를 50번씩 반복해서 학습**한다는 뜻
- 너무 적으면 학습이 부족할 수 있고, 너무 많으면 과적합(overfittng) 가능성이 있음
- 보통 50~100 정도에서 조절하면서 쵲거의 값을 찾음

👉 모델이 충분히 학습 할 수 있도록 반복 횟수를 조절


---

### 🔹 (2) `batch_size=16`

- `batch_size`는 **한 번에 몇 개의 샘플을 학습할지** 정하는 값
- `batch_size=16`이면 **16개 데이터씩 묶어서 학습**
- 너무 작으면 훈련이 느려지고, 너무 크면 메모리 사용량이 커짐
- 일반적으로 `16`, `32`, `64` 같은 값을 사용

👉 적절한 크기로 데이터를 나눠서 학습을 진행

---

## 📌 정리

## 📌 모델 구성 정리  

| 개념 | 설명 |
|:------|:------|
| `Sequential()` | 순차적으로 층을 쌓는 모델 |
| `Dense(16, activation='relu', input_shape=(X_train.shape[1],))` | 입력층 (16개 뉴런, `ReLU` 활성화 함수) |
| `Dense(8, activation='relu')` | 중간층 (8개 뉴런, `ReLU`) |
| `Dense(1, activation='sigmoid')` | 출력층 (1개 뉴런, `sigmoid` 활성화 함수) |
| `optimizer='adam'` | `Adam` 옵티마이저 사용 |
| `loss='binary_crossentropy'` | 이진 분류 손실 함수 |
| `metrics=['accuracy']` | 정확도를 평가 지표로 사용 |
| `epochs=50` | 전체 데이터셋을 50번 학습 |
| `batch_size=16` | 16개씩 묶어서 학습 |

In [ ]:
X_train.shape

(712, 8)

In [ ]:
# TensorFlow 모델 구축

model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1],)),  # 입력 정의
    tf.keras.layers.Dense(16, activation='relu'), # 첫 번째 Dense층
    tf.keras.layers.Dense(8, activation='relu'), # 중간층
    tf.keras.layers.Dense(1, activation='sigmoid') # 출력층(이진 분류)
])

# 모델 컴파일
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

# 모델 학습
model.fit(X_train, y_train, epochs=50, batch_size=16, validation_data=(X_test, y_test))

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 7s 47ms/step - accuracy: 0.6108 - loss: 0.6773 - val_accuracy: 0.7486 - val_loss: 0.6247
Epoch 2/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.7220 - loss: 0.6177 - val_accuracy: 0.7709 - val_loss: 0.5699
Epoch 3/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.7544 - loss: 0.5663 - val_accuracy: 0.8045 - val_loss: 0.5154
Epoch 4/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.7946 - loss: 0.5144 - val_accuracy: 0.8045 - val_loss: 0.4754
Epoch 5/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.7918 - loss: 0.4860 - val_accuracy: 0.7989 - val_loss: 0.4480
Epoch 6/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.8165 - loss: 0.4490 - val_accuracy: 0.8045 - val_loss: 0.4340
Epoch 7/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step - accuracy: 0.7664 - loss: 0.5007 - val_accuracy: 0.8156 - val_loss: 0.4251
Epoch 8/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8176 - loss: 0.4410 - val_accuracy: 0.8101 - val_loss: 0.4191
Epoch 9/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - accuracy: 0.8133 - loss: 0.4306 - val_accuracy: 0.8101 - val_loss: 0.4159
Epoch 10/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.8205 - loss: 0.4124 - val_accuracy: 0.8101 - val_loss: 0.4136
Epoch 11/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8087 - loss: 0.4363 - val_accuracy: 0.8101 - val_loss: 0.4119
Epoch 12/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.8205 - loss: 0.4227 - val_accuracy: 0.7989 - val_loss: 0.4113
Epoch 13/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8106 - loss: 0.4408 - val_accuracy: 0.8045 - val_loss: 0.4099
Epoch 14/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8149 - loss: 0.4019 - val_accuracy: 0.7989 - val_loss: 0.4096
Epoch 15/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8315 - loss: 0.3980 - val_accuracy: 0.7989 - val_loss: 0.4097
Epoch 16/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8058 - loss: 0.4388 - val_accuracy: 0.7989 - val_loss: 0.4112
Epoch 17/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8435 - loss: 0.3778 - val_accuracy: 0.7989 - val_loss: 0.4106
Epoch 18/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8339 - loss: 0.3859 - val_accuracy: 0.7989 - val_loss: 0.4113
Epoch 19/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8383 - loss: 0.3888 - val_accuracy: 0.8045 - val_loss: 0.4116
Epoch 20/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8175 - loss: 0.4004 - val_accuracy: 0.8045 - val_loss: 0.4136
Epoch 21/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8092 - loss: 0.4165 - val_accuracy: 0.7989 - val_loss: 0.4138
Epoch 22/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8183 - loss: 0.4042 - val_accuracy: 0.8045 - val_loss: 0.4148
Epoch 23/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - accuracy: 0.7905 - loss: 0.4295 - val_accuracy: 0.8101 - val_loss: 0.4148
Epoch 24/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.8051 - loss: 0.4205 - val_accuracy: 0.7989 - val_loss: 0.4157
Epoch 25/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8354 - loss: 0.3939 - val_accuracy: 0.8045 - val_loss: 0.4177
Epoch 26/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8178 - loss: 0.4136 - val_accuracy: 0.7989 - val_loss: 0.4185
Epoch 27/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8415 - loss: 0.3930 - val_accuracy: 0.8045 - val_loss: 0.4187
Epoch 28/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8306 - loss: 0.3910 - val_accuracy: 0.8101 - val_loss: 0.4196
Epoch 29/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8355 - loss: 0.4083 - val_accuracy: 0.7933 - val_loss: 0.4192
Epoch 30/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8207 - loss: 0.4143 - val_accuracy: 0.8045 - val_loss: 0.4190
Epoch 31/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8271 - loss: 0.4073 - val_accuracy: 0.8045 - val_loss: 0.4197
Epoch 32/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8310 - loss: 0.3947 - val_accuracy: 0.8101 - val_loss: 0.4192
Epoch 33/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8407 - loss: 0.3843 - val_accuracy: 0.8101 - val_loss: 0.4191
Epoch 34/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8125 - loss: 0.4212 - val_accuracy: 0.8156 - val_loss: 0.4184
Epoch 35/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8226 - loss: 0.4015 - val_accuracy: 0.8101 - val_loss: 0.4182
Epoch 36/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8149 - loss: 0.4006 - val_accuracy: 0.8156 - val_loss: 0.4192
Epoch 37/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8250 - loss: 0.3869 - val_accuracy: 0.8156 - val_loss: 0.4187
Epoch 38/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8357 - loss: 0.4013 - val_accuracy: 0.8156 - val_loss: 0.4187
Epoch 39/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8486 - loss: 0.3712 - val_accuracy: 0.8212 - val_loss: 0.4194
Epoch 40/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8536 - loss: 0.3542 - val_accuracy: 0.8212 - val_loss: 0.4198
Epoch 41/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8636 - loss: 0.3611 - val_accuracy: 0.8212 - val_loss: 0.4186
Epoch 42/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8484 - loss: 0.3918 - val_accuracy: 0.8212 - val_loss: 0.4194
Epoch 43/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8524 - loss: 0.3857 - val_accuracy: 0.8212 - val_loss: 0.4205
Epoch 44/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8291 - loss: 0.3880 - val_accuracy: 0.8268 - val_loss: 0.4197
Epoch 45/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8381 - loss: 0.4001 - val_accuracy: 0.8156 - val_loss: 0.4209
Epoch 46/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8714 - loss: 0.3588 - val_accuracy: 0.8156 - val_loss: 0.4227
Epoch 47/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8586 - loss: 0.3653 - val_accuracy: 0.8156 - val_loss: 0.4220
Epoch 48/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8548 - loss: 0.3694 - val_accuracy: 0.8212 - val_loss: 0.4219
Epoch 49/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8265 - loss: 0.4131 - val_accuracy: 0.8212 - val_loss: 0.4224
Epoch 50/50
45/45 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8640 - loss: 0.3542 - val_accuracy: 0.8156 - val_loss: 0.4220

In [ ]:
# 평가
loss, accuracy = model.evaluate(X_test,y_test)
print(f"테스트 정확도: {accuracy:.4f}")
print('loss: ', loss)

# 예측 수행
y_pred = (model.predict(X_test) > 0.5).astype(int)

# 결과 확인
print(y_pred[:10]) ## 예측된 10개의 생존 여부 출력
print('------')
print(y_test[:10])

6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - accuracy: 0.8277 - loss: 0.4106
테스트 정확도: 0.8156
loss:  0.42199447751045227
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
[[0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [0]
 [1]
 [1]]
------
709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
Name: survived, dtype: int64

In [ ]:
print(accuracy)

0.8156424760818481


https://gooopy.tistory.com/82

위 블로그에서 동일하게 keras.Sequential을 사용하는데
모델 작성시 두가지를 더 추가해서 학습시켜서 진행한다.

Dropout과 Batchnormalization이다.


해당 블로거에서 말하기로는

- Dropout은 Overfitting,model combination 문제를 해결하기 위해 등장한 개념이고 신경망의 뉴런을 랜덤하게 부분적으로 생략시킨다고 한다.
- 신경망을 망각시키는 느낌
- Batchnormalization은 배치 정규화인데, 활성화 함수의 활성화 값이나 출력 값을 정규분포로 만들어줘서 noise를 추가하는 개념이란다. (이미 스케일링할때 표준화 작업을 했는데 이게 또 필요한건가...? )
- 학습을 할 때마다 활성화 값이나 출력 값을 정규화 하므로, 초기화(가중치 초깃값) 문제의 영향을 덜 받게 해준다.
- 학습률(Learning Rate)을 높게 설정할 수 있으므로, 학습 속도가 개선된다.
- Overfiggin 위험을 줄일 수 있다.
- 가중치 소실(Gradient Vanishing)문제를 해결해준다.